@import "style.css";

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px;
    text-align: center;
}

.button__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    margin: 2px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}