@import "style.css";

.leaderboard-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 80%;
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard-container__title {
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 15px;
    word-wrap: break-word;
}

.leaderboard-container__table {
    color: white;
    text-align: center;
}

.leaderboard-container__table th, td {
    font-size: 20px;
    text-align: left;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
}