@import "style.css";

.signup-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 50%;
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 
    0 0 7px white,
    0 0 10px white,
    0 0 21px var(--logo__purple),
    0 0 42px var(--logo__purple),
    0 0 57px var(--logo__purple);
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 30px;
}

.signup-container__title {
    color: white;
    font-size: 40px;
    padding: 10px;
}

.signup-container__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    align-items: center;
}

.signup-container__form__item {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    font-size: 27px;
    color: white;
    border-style: none;
    border-bottom: white 2px solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 3px;
    text-align: center;
}

button.signup-container__form__item {
    cursor: pointer;
}

button.signup-container__form__item:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


input.signup-container__form__item:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.7);
}